@import "../main";

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  //justify-content: center;
  //align-items: center;
  padding: 2.4rem 3.6rem;
  background: #61647C;

  .info_block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h1 {
      @include h1_type();
    }

    & > div {
      width: 100%;
      padding: .8rem 4rem 0 0;

      & > p {
        @include p_type();
      }
    }

    .link {
      margin-top: 1.8rem;
      font-size: 2.375rem;
      font-family: $fontFamily;
      font-weight: normal;
      word-break: break-word;
      color: #96CEB4;
    }
  }

  .services {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .service {
      margin: .8rem;
      width: 22rem;
      height: 20rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;


      img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
      }


      h1 {
        margin: 1rem 0;
        font-family: $fontFamily;
        font-size: 2rem;
        font-weight: bold;
        color: #FFAD60;
      }

      p {
        text-align: center;
        font-family: $fontFamily;
        font-size: 1rem;
        color: #FFFFFF;
        opacity: .7;
        //font-weight: bold;
      }

    }

    //display: flex;
    //align-items: center;
    //justify-content: center;

    //.elips{
    //  position: absolute;
    //  top: calc((100% - 20rem) / 2);
    //  left: calc((100% - 30rem) / 2);
    //  width: 30rem;
    //  height: 20rem;
    //  border-radius: 50%;
    //  background: linear-gradient(#e66465, #9198e5);
    //}

  }

  .rows {
    position: absolute;
    width: 30rem;
    height: 10rem;
    left: -4rem;
    bottom: 2rem;
  }

}


@media screen and (max-width: 480px) {
  .main {
    padding: 5rem 3rem;
    height: auto;
    flex-direction: column;
    align-items: center;

    .info_block {
      width: 100%;
      height: auto;
      padding: 1rem 3rem;
      align-items: center;

      & > h1 {
        margin: 0;
        text-align: center;
      }

      & > div {
        padding: 0;
        & > p {
          margin: 0;
          text-align: center;
        }
      }

      .link {
        font-size: 3rem;
      }
    }

    .services {
      margin-top: .8rem;
      width: 100%;
      height: auto;

      .service {
        margin: 1rem 1.5rem;
        width: 20rem;
        height: 18rem;

        img{
          margin-bottom: 1rem;
        }

        h1 {
          @include h1_type();
          margin: .3rem 0;
          font-size: 2rem;
          text-align: center;
          color: #FFAD60;
        }

        p {
          @include p_type();
          text-align: center;
          font-size: 1.75rem;
          opacity: .7;
          margin: .3rem 0;
        }

      }

    }

    .rows {
      width: 20rem;
      height: 8rem;
    }
  }

}