@import "../main";

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: $backgroundDark;


  .image_container {
    width: 50%;
    height: 100%;
    padding: 5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

  }

  .info_container {
    width: 50%;
    height: 100%;
    padding: 2rem 1rem;
    //background: #96CEB4;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & > h1 {
      @include h1_type();
    }

    & > p {
      @include p_type();
    }

  }

}


@media screen and (max-width: 480px) {
  .main {
    height: 50vh;
    & > .image_container {
      display: none;
    }

    & > .info_container {
      width: 100%;
      align-items: center;
    }
  }
}