.main {
  width: 60rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    li{
      color: white;
      font-size: 1.375rem;
      margin-right: 1.375rem;
    }

  }

  .joinUs{
    padding: .8rem 2rem;
    color: white;
    font-size: 1.375rem;
    background: none;
    border: 1px solid #2F76DB;
    margin-left: 7.8rem;
  }


}